# ZoneMinder systemd unit file
# This file is intended to work with all Linux distributions

[Unit]
Description=ZoneMinder CCTV recording and security system
After=network.target mysqld.service httpd.service
Requires=mysqld.service httpd.service

[Service]
User=www-data
Type=forking
ExecStart=/usr/local/bin/zmpkg.pl start
ExecReload=/usr/local/bin/zmpkg.pl restart
ExecStop=/usr/local/bin/zmpkg.pl stop
PIDFile=/var/run/zm/zm.pid
Environment=TZ=:/etc/localtime

[Install]
WantedBy=multi-user.target

